[MESSAGES CONTROL]
# For all codes, run 'pylint --list-msgs' or go to 'http://pylint-messages.wikidot.com/all-codes'
disable=
    invalid-name,
    fixme,
    missing-docstring,
    too-many-arguments,
    too-few-public-methods,
    cyclic-import,
    useless-object-inheritance,
    useless-import-alias,
    useless-suppression

[FORMAT]
max-line-length=120

[DESIGN]
# Maximum number of locals for function / method body
max-locals=25
# Maximum number of branch for function / method body
max-branches=20

[SIMILARITIES]
min-similarity-lines=10
