resources:
- repo: self
trigger:
  batch: true
  branches:
    include:
    - '*'
jobs:
- job: Tox36
  displayName: 'Tox: Python 3.6'
  condition: succeeded()
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
  - task: UsePythonVersion@0
    displayName: 'Use Python 3.6'
    inputs:
      versionSpec: 3.6
  - task: Bash@3
    displayName: 'Run Tox'
    env:
      TOXENV: py36
    inputs:
      targetType: 'filePath'
      filePath: scripts/ci/run_tox.sh

- job: Tox37
  displayName: 'Tox: Python 3.7'
  condition: succeeded()
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
  - task: UsePythonVersion@0
    displayName: 'Use Python 3.7'
    inputs:
      versionSpec: 3.7
  - task: Bash@3
    displayName: 'Run Tox'
    env:
      TOXENV: py37
    inputs:
      targetType: 'filePath'
      filePath: scripts/ci/run_tox.sh

- job: Tox38
  displayName: 'Tox: Python 3.8'
  condition: succeeded()
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
  - task: UsePythonVersion@0
    displayName: 'Use Python 3.8'
    inputs:
      versionSpec: 3.8
  - task: Bash@3
    displayName: 'Run Tox'
    env:
      TOXENV: py38
    inputs:
      targetType: 'filePath'
      filePath: scripts/ci/run_tox.sh

- job: ExtractMetadata
  displayName: 'Extract Metadata'
  condition: succeeded()
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
  - task: Bash@3
    displayName: 'Extract Version'
    inputs:
      targetType: 'filePath'
      filePath: scripts/ci/extract_version.sh

  - task: PublishPipelineArtifact@0
    displayName: 'Publish Artifact: metadata'
    inputs:
      TargetPath: $(Build.ArtifactStagingDirectory)
      ArtifactName: metadata

- job: BuildPythonWheel
  displayName: 'Build Python Wheel'

  dependsOn: ExtractMetadata
  condition: succeeded()
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
  - task: UsePythonVersion@0
    displayName: 'Use Python 3.7'
    inputs:
      versionSpec: 3.7

  - task: Bash@3
    displayName: 'Run Wheel Build Script'
    inputs:
      targetType: 'filePath'
      filePath: scripts/ci/build.sh

  - task: PublishPipelineArtifact@0
    displayName: 'Publish Artifact: pypi'
    inputs:
      TargetPath: $(Build.ArtifactStagingDirectory)
      ArtifactName: pypi

- job: Unittest
  timeoutInMinutes: 10

  pool:
    vmImage: 'ubuntu-16.04'
  strategy:
    matrix:
      Python36:
        python.version: '3.6'
      Python38:
        python.version: '3.8'
  steps:
    - task: UsePythonVersion@0
      displayName: 'Use Python $(python.version)'
      inputs:
        versionSpec: '$(python.version)'
    - bash: |
        set -ev

        python -m venv env
        . env/bin/activate

        # install azdev from source code
        pip install -e .

        # azdev setup
        git clone --quiet https://github.com/Azure/azure-cli.git
        git clone --quiet https://github.com/Azure/azure-cli-extensions.git
        azdev setup -c ./azure-cli -r ./azure-cli-extensions

        azdev --version

        # unittest
        python -m unittest -v
      displayName: 'Run Unittest'


- job: TestAzdevSetup
  displayName: 'Test azdev setup'
  dependsOn: BuildPythonWheel
  condition: succeeded()
  pool:
    vmImage: 'ubuntu-16.04'
  strategy:
    matrix:
      Python36:
        python.version: '3.7'
      Python38:
        python.version: '3.8'
  steps:
  - task: DownloadPipelineArtifact@1
    displayName: 'Download Build'
    inputs:
      TargetPath: '$(Build.ArtifactStagingDirectory)/pypi'
      artifactName: pypi

  - task: UsePythonVersion@0
    displayName: 'Use Python $(python.version)'
    inputs:
      versionSpec: '$(python.version)'

  - bash: |
      #!/usr/bin/env bash
      set -ev
      . scripts/ci/install.sh
      # verify azdev setup worked
      az -h
    displayName: 'Test azdev setup'

- job: TestAzdevTest
  displayName: 'Test azdev test'
  dependsOn: BuildPythonWheel
  condition: succeeded()
  pool:
    vmImage: 'ubuntu-16.04'
  strategy:
    matrix:
      Python36:
        python.version: '3.7'
      Python38:
        python.version: '3.8'
  steps:
  - task: DownloadPipelineArtifact@1
    displayName: 'Download Build'
    inputs:
      TargetPath: '$(Build.ArtifactStagingDirectory)/pypi'
      artifactName: pypi

  - task: UsePythonVersion@0
    displayName: 'Use Python $(python.version)'
    inputs:
      versionSpec: '$(python.version)'

  - bash: |
      #!/usr/bin/env bash
      set -ev
      . scripts/ci/install.sh
      # verify azdev test works
      azdev test redis
    displayName: 'Test azdev test'

- job: TestAzdevLinter
  displayName: 'Test azdev linter'
  dependsOn: BuildPythonWheel
  condition: succeeded()
  pool:
    vmImage: 'ubuntu-16.04'
  strategy:
    matrix:
      Python36:
        python.version: '3.7'
      Python38:
        python.version: '3.8'
  steps:
  - task: DownloadPipelineArtifact@1
    displayName: 'Download Build'
    inputs:
      TargetPath: '$(Build.ArtifactStagingDirectory)/pypi'
      artifactName: pypi

  - task: UsePythonVersion@0
    displayName: 'Use Python $(python.version)'
    inputs:
      versionSpec: '$(python.version)'

  - bash: |
      #!/usr/bin/env bash
      set -ev
      . scripts/ci/install.sh
      # verify azdev linter works
      azdev linter redis
    displayName: 'Test azdev linter'

- job: TestAzdevStyle
  displayName: 'Test azdev style'
  dependsOn: BuildPythonWheel
  condition: succeeded()
  pool:
    vmImage: 'ubuntu-16.04'
  strategy:
    matrix:
      Python36:
        python.version: '3.7'
      Python38:
        python.version: '3.8'
  steps:
  - task: DownloadPipelineArtifact@1
    displayName: 'Download Build'
    inputs:
      TargetPath: '$(Build.ArtifactStagingDirectory)/pypi'
      artifactName: pypi

  - task: UsePythonVersion@0
    displayName: 'Use Python $(python.version)'
    inputs:
      versionSpec: '$(python.version)'

  - bash: |
      #!/usr/bin/env bash
      set -ev
      . scripts/ci/install.sh
      # verify azdev style works
      azdev style redis
    displayName: 'Test azdev style'

- job: CLIAutomationTest
  dependsOn: BuildPythonWheel
  condition: succeeded()
  timeoutInMinutes: 20

  pool:
    vmImage: 'ubuntu-16.04'
  strategy:
    matrix:
      Python36:
        python.version: '3.6'
      Python37:
        python.version: '3.7'
      Python38:
        python.version: '3.8'
  steps:
    - task: UsePythonVersion@0
      displayName: 'Use Python $(python.version)'
      inputs:
        versionSpec: '$(python.version)'
    - bash: |
        set -ev

        . scripts/ci/install.sh

        az --version

        azdev --version

        azdev test --repo ../azure-cli --src=dev --tgt=HEAD~2

      displayName: Run Automation Test on CLI
