{% if not no_head -%}
# Upcoming breaking changes in Azure CLI

The breaking changes listed in this article are planned for the next major release of the Azure CLI unless otherwise noted. Per our [Support lifecycle](./azure-cli-support-lifecycle.md), breaking changes in Azure CLI Core reference groups occur twice a year.

{% endif -%}
{% for module, command_bc in module_bc.items() -%}
## {{ module }}

{% for command, multi_version_bcs in command_bc.items() -%}
{% if not (module == 'core' and command == 'core') -%}
### `{{ command }}`

{% endif -%}
{% if multi_version_bcs.group_ref -%}
[Link to {{ multi_version_bcs.group_ref|join(' ') }} reference group](/cli/azure/{{ multi_version_bcs.group_ref|join('/') }})

{% endif -%}
{% if multi_version_bcs['items'] is mapping -%}
{% for version, bcs in multi_version_bcs['items'] | dictsort -%}
###{%- if not (module == 'core' and command == 'core') -%}#{%- endif %} Deprecated in {{ version }}

{% for bc in bcs -%}
- {{ bc.detail }}
{% endfor %}

{% endfor -%}
{% else -%}

{% for bc in multi_version_bcs['items'] -%}
- {{ bc }}
{% endfor %}

{% endif -%}
{% endfor -%}
{% endfor -%}
{% if not no_tail %}
> [!NOTE]
> This article provides information on upcoming breaking changes. For previously published breaking changes, see [Azure CLI release notes](./release-notes-azure-cli.md).
{%- endif -%}